<h1>Profile Town</h1>

{{!-- If startment runs if variable exists or isn't assigned to an eempty value --}} {{#if user}}
<h1>User Info, You are AUTHED</h1>
<h2>{{user.name}}</h2>


<h2>{{user.github_auth_id}}</h2>

<input type="button" class="btn btn-info" value="Log Out" onclick="location.href = '/logout'">
</input>
{{!-- Else startment runs if DOESN'T variable exist or IS assigned to an eempty value --}} {{else}}
<p>
  <em>You're Not Allowed HERE!!!</em>
</p>
{{/if}}