<header class="main-header">
  <nav class="navbar navbar-inverse navbar-fixed-topp">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Pirates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pirate">Add Pirate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
</header>